name: Update Channels JSON

on:
  schedule:
    # Runs every 3 hours
    - cron: '0 */3 * * *'
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium selenium-wire webdriver-manager setuptools blinker==1.7.0

    - name: Run the scraper
      run: python scrape_and_push.py
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
